{% set componentClass = 'm-criteriaCard js-criteriaCard' %}
{% set defaultTag = 'div' %}
{% set status = criteriaCard.status | default('NT') %}
{% set attributeList = attributeList is defined ? attributeList : {} %}
{% set attributeList = attributeList|merge({'data-status': status, 'data-criteria': criteriaCard.topicNumber ~ '.' ~ criteriaCard.criterium.number , 'class': (attributeList.class is defined ? componentClass ~ ' ' ~ attributeList.class : componentClass)}) %}
{% set tag = tag is defined ? tag : defaultTag %}
{% set id = criteriaCard.topic ~ '-' ~ criteriaCard.criterium.number %}

{% set statusList = [
  {
    slug: 'C',
    title: 'Conforme',
  },
  {
    slug: 'NC',
    title: 'Non conforme',
  },
  {
    slug: 'NA',
    title: 'Non applicable',
  },
  {
    slug: 'NT',
    title: 'Non traité',
  },
] %}

<{{ tag }}{% for attribute, value in attributeList %} {{ attribute }}="{{ value }}"{% endfor %}>
    {% include '@atom/icon/icon.html.twig' with {
      name: 'check-circle',
      attributeList: {
        class: 'm-criteriaCard__checkedIcon'
      }
    } only %}
    <div class="m-criteriaCard__top">
        <div class="m-criteriaCard__top__left">
            <span class="m-criteriaCard__criteriaNumber">{{ criteriaCard.topicNumber }}.{{ criteriaCard.criterium.number }}</span>
        </div>
        {% include '@molecule/form/toggle-switch/toggle-switch.html.twig' with {
          toggleSwitch: {
            name: id,
            id: id,
            text: 'Highlight'
          },
          attributeList: {
              class: 'm-criteriaCard__highlightSwitch js-criteriaCard__highlightSwitch -hidden',
          }
        } only %}
    </div>
    <textarea class="m-criteriaCard__verification js-criteriaCard__verification" rows="4"></textarea>
    <div class="m-criteriaCard__text js-criteriaCard__text">
        {{ criteriaCard.criterium.title }}
    </div>
    <div class="m-criteriaCard__bottom">
        {% include '@molecule/criteria-selector/criteria-selector.html.twig' with {
          attributeList: {
              class: 'm-criteriaCard__criteriaSelector js-criteriaCard__criteriaSelector',
          },
          criteriaSelector: {
            zone: id,
            current: {
              slug: status,
            },
            statusList: statusList
          }
        } only %}
        <button aria-expanded="false" aria-controls="criteria-card-{{ id }}-test-list" class="m-criteriaCard__seeTestsLink">
            Voir les tests
            {% include '@atom/icon/icon.html.twig' with {
              name: 'chevron',
              attributeList: {
                class: 'm-criteriaCard__seeTestsLink__chevron'
              }
            } only %}
        </button>
    </div>
    <div class="m-criteriaCard__testListWrapper" id="criteria-card-{{ id }}-test-list">
        <ul class="m-criteriaCard__testList">
{% for test in criteriaCard.criterium.tests %}
            <li class="m-criteriaCard__test">
                <span class="m-criteriaCard__test__number js-criteriaCard__test__number" data-test="{{ criteriaCard.topicNumber }}.{{ criteriaCard.criterium.number }}.{{ loop.index }}">
                    {{ criteriaCard.topicNumber }}.{{ criteriaCard.criterium.number }}.{{ loop.index }}
                </span>
                <div class="m-criteriaCard__test__content">
        {# if test is an array, split with <br> #}
        {% if test is iterable and test is not empty %}
        {% for testPart in test %}
                {{ testPart }}
        {% endfor %}
        {% else %}
                {{ test }}
        {% endif %}
                </div>
            </li>
{% endfor %}
        </ul>
    </div>
</{{ tag }}>
