{% set componentClass = 'o-highlightList js-highlightList js-draggable' %}
{% set defaultTag = 'div' %}
{% set attributeList = attributeList is defined ? attributeList : {} %}
{% set attributeList = attributeList|merge({'class': (attributeList.class is defined ? componentClass ~ ' ' ~ attributeList.class : componentClass)}) %}
{% set tag = tag is defined ? tag : defaultTag %}

{% macro highlightItem(isEmpty, highlight) %}
    <li class="o-highlightList__item js-highlightList__item">
        <button class="o-highlightList__button js-highlightList__itemPageButton" type="button">
            {% include '@atom/icon/icon.html.twig' with {
              name: 'visibility-on',
              attributeList: {
                class: 'o-highlightList__buttonIcon',
              },
            } only %}
        </button>
        <button class="o-highlightList__button js-highlightList__itemConsoleButton" type="button">
            {% include '@atom/icon/icon.html.twig' with {
              name: 'magnify-glass',
              attributeList: {
                class: 'o-highlightList__buttonIcon',
              },
            } only %}
        </button>
        <label class="o-highlightList__content">
{% if isEmpty or highlight.tag is defined %}
            <span class="o-highlightList__tag js-highlightList__itemTag{% if not isEmpty %} -tag{{ highlight.tag | lower }}{% endif %}">
                {{ highlight.tag }}
            </span>
{% endif %}
{% if isEmpty or highlight.text is defined %}
            <p class="o-highlightList__text js-highlightList__itemText">
                {{ highlight.text }}
            </p>
            <span title="Élément non visible" class="o-highlightList__visibilityStatus js-highlightList__visibilityStatus">
                {% include '@atom/icon/icon.html.twig' with {
                  name: 'visibility-off',
                  isAriaHidden: false,
                  attributeList: {
                    class: 'o-highlightList__visibilityIcon',
                  },
                } only %}
            </span>
{% endif %}
            {% include '@atom/form/checkbox/checkbox.html.twig' with {
              attributeList: {
                class: 'o-highlightList__checkbox js-highlightList__itemCheckbox',
                name: 'highlight-valid[]',
              },
            } only %}
        </label>
    </li>
{% endmacro %}
{% from _self import highlightItem %}

<{{ tag }}{% for attribute, value in attributeList %} {{ attribute }}="{{ value }}"{% endfor %}>
    <header class="o-highlightList__header">
        <h2 class="o-highlightList__title js-draggable__handle">
            Éléments mis en avant
        </h2>
        <button class="o-highlightList__closeButton js-highlightList__closeButton" title="Fermer">
            {% include '@atom/icon/icon.html.twig' with {
              name: 'cross',
              attributeList: {
                class: 'o-highlightList__closeButton__icon'
              }
            } only %}
        </button>
    </header>
    <ul class="o-highlightList__list js-highlightList__list">
        <li class="o-highlightList__item">
            <label class="o-highlightList__content">
                <span class="o-highlightList__text">
                    Tous valides ?
                </span>
            </label>
            {% include '@atom/form/checkbox/checkbox.html.twig' with {
              attributeList: {
                class: 'o-highlightList__checkbox js-highlightListCheckbox -all',
                name: 'highlight-valid-all',
              },
            } only %}
        </li>
{% if highlightList is empty %}
        <template class="js-highlightList__itemTemplate">
            {{ highlightItem(true) }}
        </template>
{% else %}
        {% for highlight in highlightList %}
            {{ highlightItem(false, highlight) }}
        {% endfor %}
{% endif %}
        </ul>
    </ul>
</{{ tag }}>
